
.form-control{
    width: 25%;
}
.thh{
    font-size: 30px;
    
}
.btn-success{
    /* padding: 20px; */
    font-size: 20px;
}
header{
background-color: gray;
margin-top: -10px;
width: 102%;
margin-right: 5%;
min-height: 170px;
font-size: 30px;
margin-left: -30px;





}

header .branding h1{
margin-top: -60px;
padding-top: 70px;

}
nav{
float: right;
margin-top: -55px;

}

h1{
padding-top: 25px;
color: rgb(90, 60, 18);
}
button{
background-color: rgb(116, 77, 23);
border: none;
padding: 10px;
border-radius: 10px;
margin-right: 0px;
color: white;
font-size: 15px;
}
h1 .highlight{
color: white;
}
header .branding{
margin-left: -80px;
margin-top: 20px;

}
nav button:hover{
    background-color: white;
    color: cornflowerblue;
}
.avgg{
    font-size: 35px;
    

}